<div class="view" ng-controller="authorEditController">
  <div class="container">
    <header>
      <h3><span class="glyphicon glyphicon-edit"></span> {{title}} Author</h3>
    </header>
    <form name="editForm">
      <div class="customerEdit">
      <div class="row">
        <div class="col-md-2">
          First Name:
        </div>
        <div class="col-md-10">
          <input type="text" name="firstName" class="form-control" data-ng-model="author.CompanyName" required/>
                        <span class="errorMessage" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">
                            First name is required
                        </span>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-2">
          Last Name:
        </div>
        <div class="col-md-10">
          <input type="text" name="firstName" class="form-control" data-ng-model="author.ContactName"  required />
                        <!--<span class="errorMessage" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">-->
                            <!--Last Name is required-->
                        <!--</span>-->
        </div>
      </div>
      </br>
      <div class="row">
        <div class="col-md-2">
          Phone Number:
        </div>
        <div class="col-md-10">
          <input type="text" name="firstName" class="form-control" data-ng-model="author.ContactTitle" required />
                        <!--<span class="errorMessage" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">-->
                            <!--Last Name is required-->
                        <!--</span>-->
        </div>
      </div>
      </br>
      <div class="row">
        <div class="col-md-2">
          Address:
        </div>
        <div class="col-md-10">
          <input type="text" name="firstName" class="form-control" data-ng-model="author.Address"  required  />
                        <!--<span class="errorMessage" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">-->
                            <!--Last Name is required-->
                        <!--</span>-->
        </div>
      </div>
      </br>
      <div class="row">
        <div class="col-md-2">
          City:
        </div>
        <div class="col-md-10">
          <input type="text" name="firstName" class="form-control" data-ng-model="author.City"  />
                        <!--<span class="errorMessage" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">-->
                            <!--Last Name is required-->
                        <!--</span>-->
        </div>
      </div>
      </br>
      <div class="row">
        <div class="col-md-2">
          State:
        </div>
        <div class="col-md-10">
          <input type="text" name="firstName" class="form-control" data-ng-model="author.State"  />
                        <!--<span class="errorMessage" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">-->
                            <!--Last Name is required-->
                        <!--</span>-->
        </div>
      </div>
      </br>
      <div class="row">
        <div class="col-md-12">
          <!--<button type="submit" class="btn btn-primary" data-ng-click="vm.saveCustomer()"-->
                  <!--ng-disabled="editForm.$invalid || !editForm.$dirty">-->
            <!--{{vm.buttonText}}-->
          <!--</button>-->
          <button type="submit" class="btn btn-primary" data-ng-click="saveAuthor()">
            {{buttonText}}
          </button>
          &nbsp;&nbsp;
          <button type="submit"class="btn btn-danger" data-ng-disabled="buttonDisplay" data-ng-click="deleteAuthor()">
            Delete Author
          </button>
        </div>
      </div>
        <br/>
      <!--<div class="statusRow">
        <br />
        <div class="label label-success" data-ng-show="updateStatus">
          <span class="glyphicon glyphicon-thumbs-up icon-white"> &nbsp; &nbsp; Author updated!</span>
        </div>
      </div>

      <div class="statusRow">
        <br />
        <div class=" label label-importanat" data-ng-show="errorMessage">
          <span class="glyphicon glyphicon-thumbs-up icon-white"> &nbsp;&nbsp; Error: {{errorMessage}} </span>
        </div>
      </div>-->
      </div>
    </form>
  </div>
</div>


