<div class="view" ng-controller="orderEditController">
  <div class="container">
    <header>
      <h3><span class="glyphicon glyphicon-edit"></span> {{title}} Order</h3>
    </header>
    <form name="registrForm" role="form">
      <div class="row">
        <div class="col-md-2">
          Order Name:
        </div>
        <div class="col-md-10">
          <input type="text" name="firstName" class="form-control" data-ng-model="order.OrderName"/>
          <!--<span class="errorMessage" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">-->
          <!--First name is required-->
          <!--</span>-->
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-2">
          Date:
        </div>
        <div class="col-md-10">
       <!--   <input type="text" name="firstName" class="form-control" data-ng-model="order.DateOfSale"/>-->
          <calendar selected="day"></calendar>
          <!--<span class="errorMessage" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">-->
          <!--First name is required-->
          <!--</span>-->
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-2">
          Price:
        </div>
        <div class="col-md-10">
          <input type="text" name="firstName" class="form-control" data-ng-model="order.UnitPrice"/>
          <!--<span class="errorMessage" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">-->
          <!--First name is required-->
          <!--</span>-->
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-2">
         Qunatity:
        </div>
        <div class="col-md-10">
          <input type="text" name="firstName" class="form-control" data-ng-model="order.Quantity"/>
          <!--<span class="errorMessage" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">-->
          <!--First name is required-->
          <!--</span>-->
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-2">
          Author:
        </div>
        <div class="col-md-10">
          <!-- label for value in array -->
          <select  id="peopleArraySel2"  class="form-control"  ng-model="order.CustomerID"  ng-options="author.CustomerID as author.ContactName for author in authors">

          </select><br />

          <!--<select class="form-control" ng-model="selectedItem" ng-value="author.CustomerID"
                  ng-options="item as author.ContactName for author in authors"></select>
          {{author.ContactName}}-->
        </div>
      </div>
      </br>
      <div class="row">
        <div class="col-md-2">
          Product:
        </div>
        <div class="col-md-10">
          <!-- label for value in array -->
          <select  id="peopleArraySel"  class="form-control"  ng-model="order.ProductID"  ng-options="product.ProductID as product.ProductName for product in products">

          </select><br />

          <!--<select class="form-control" ng-model="selectedItem" ng-value="author.CustomerID"
                  ng-options="item as author.ContactName for author in authors"></select>
          {{author.ContactName}}-->
        </div>
      </div>
      </br>
      <div class="row">
        <div class="col-md-12">
          <!--<button type="submit" class="btn btn-primary" data-ng-click="vm.saveCustomer()"-->
          <!--ng-disabled="editForm.$invalid || !editForm.$dirty">-->
          <!--{{vm.buttonText}}-->
          <!--</button>-->
          <button type="submit" class="btn btn-primary" data-ng-click="saveOrder()">
            {{buttonText}}
          </button>
          &nbsp;&nbsp;
          <button type="submit" class="btn btn-primary" data-ng-click="deleteOrder()">
            Delete Order
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


