<div class="customers view indent">
<div class="container" ng-controller="ordersController">
  <header>
    <h3>
      <span class="glyphicon glyphicon-folder-open"></span> Orders
    </h3>
  </header>
  <div class="row">
    <div class="col-md-10">
    <ul class="nav navbar-nav">
      <li class="toolbaritem">
        <a data-ng-click="navigate('/orderEdit/0/0/0')">
          <span class="glyphicon glyphicon-plus"></span> Add Order
        </a>
      </li>
    </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <ul class="nav navbar-nav">
        <li class="toolbaritem">
         <div class="row dateselector">
            <div class="col-sm-12 center">
              <form class="row form-inline">
                <dropdown-multiselect title="Search Authors" model="selected_items" options="authors" class="form-control"></dropdown-multiselect>
                <dropdown-multiselect  title="Search Orders" model="selected_items" options="orders"  class="form-control"></dropdown-multiselect>
                <label>from&nbsp;<input  type="date" ng-model="fromDate"  required name="from" class="form-control"></label>
                <label>to&nbsp;<input  type="date"  ng-model="toDate"  required class="form-control" name="to"></label>
                <button class="btn-success" type="submit" data-ng-click="searchButton()">Search </button>
              </form>
            </div>
          </div>
        </li>
        <li class="toolbaritem">
        <!--<div class="dropdown">
            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" >
              <div class="input-group">
                <input type="text" class="form-control"  data-ng-model="endDate">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <calendar data-ng-model="endDate" selected="endDate" ></calendar>
            </ul>
          </div>-->
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-md-10">
    <input  type="text" class="form-control testingPadding"  data-ng-model="searchText" data-ng-change="searchTextChanged();"  placeholder="Search for authors, products" />
    </div>
  </div>
  </div>
  <div class="container">
  <div class="row gridContainer customersTable show-hide-animation">
    <div class="col-md-10">
      <table class="table table-striped table-condensed">
        <thead>
        <tr>
          <!--<th>&nbsp;</th>-->
          <th> <a class="white" href="" ng-click="sort('OrderName')"> Name</a></th>
          <th><a class="test" href="" ng-click="sort('ProductName')"> Product</a></th>
          <th><a class="test" href="" ng-click="sort('ContactName')"> Author</a></th>
          <th><a class="test" href="" ng-click="sort('DateOfSale')"> Date</a></th>
          <th><a class="test" href="" ng-click="sort('UnitPrice')"> Price</a></th>
          <th><a class="test"  href="" ng-click="sort('Quantity')"> Quantity</a></th>
          <th><a class="test" href="" ng-click="sort('Total')"> Total</a></th>
          <th class="test" > Action</th>
          <!--<th>&nbsp;</th>-->
        </tr>
        </thead>
        <tbody data-ng-repeat="order in orders |orderBy :predicate:reverse">
        <tr  class="main-row"  class="repeat-animation" ng-click="toggleDetail($index)">
          <td>{{order.OrderName}}</td>
          <td>{{order.ProductName}}</td>
          <td>{{order.ContactName}}</td>
          <td>{{order.DateOfSale |date: 'dd-MM-yyyy'}}</td>
          <td>{{order.UnitPrice}}</td>
          <td>{{order.Quantity}}</td>
          <td>{{order.UnitPrice * order.Quantity}}</td>
          <td><a  ng-href="#/orderEdit/{{order.CustomerID}}/{{order.ProductID}}/{{order.OrderID}}" ng-model ="order.OrderID" >Edit</a></td>
        </tr>
        <tr class="extra-row" data-ng-show = "activePosition == $index">
          <td>Details {{order.OrderID}} here...</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-10" data-ng-show="orders.length > 0">
      <div class="pull-right col-span-10">{{ordersTotal}} <br/> {{totals()}} </h4></div>
    </div>
  </div>

  <div class="row" class="col-md-10" data-ng-show="orders.length == 0">
    <div class="col-span-10"><h4>No orders found</h4></div>
  </div>
</div>
</div>
