<div class="container" ng-controller="ordersController" xmlns="http://www.w3.org/1999/html">
  <header>
    <h3>
      <span class="glyphicon glyphicon-folder-open"></span> Orders
    </h3>
  </header>
  <div>
    <ul class="nav navbar-nav">
      <li class="toolbaritem">
        <a data-ng-click="navigate('/orderEdit/0/0/0')">
          <span class="glyphicon glyphicon-plus"></span> Add Order
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div ng-dropdown-multiselect="" options="authors"></div>
  </div>
  <div class="row">
       <!-- <label class="navbarText col-sm-2">Filter:</label>-->
      <input class="col-md-10" type="text"  data-ng-model="searchText" data-ng-change="searchTextChanged();"  placeholder="Search for authors, products" />


  </div>

  <div class="row">
    <div class="col-md-1">
     Period:
    </div>
    <div class="col-md-3">
      <!--   <input type="text" name="firstName" class="form-control" data-ng-model="startDate"/>-->

      <div class="dropdown">
        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" >
          <!--  href="#"-->
          <div class="input-group">
            <input type="text" class="form-control"  data-ng-model="formatStartDate()">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
            </span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <calendar data-ng-model="startDate" selected="startDate" ></calendar>
        </ul>
      </div>
      </div>

    <div class="col-md-3">
      <!--   <input type="text" name="firstName" class="form-control" data-ng-model="startDate"/>-->

      <div class="dropdown">
        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" >
          <!--  href="#"-->
          <div class="input-group">
            <input type="text" class="form-control"  data-ng-model="formatEndDate()">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
            </span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <calendar data-ng-model="endDate" selected="endDate" ></calendar>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <button class="btn-default" type="submit" data-ng-click="searchButton()">
      Search
    </button>
  </div>
  <div >

    <div  class="row gridContainer customersTable show-hide-animation" >
      <div class="col-md-10">
        <div>
          <table class="table table-striped table-condensed">
            <thead>
            <tr  >
              <!--<th>&nbsp;</th>-->
              <th> <a class="test" href="" ng-click="sort('OrderName')"> Name</a></th>
              <th><a class="test" href="" ng-click="sort('ProductName')"> Product</a></th>
              <th><a class="test" href="" ng-click="sort('ContactName')"> Author</a></th>
              <th><a class="test" href="" ng-click="sort('DateOfSale')"> Date</a></th>
              <th><a class="test" href="" ng-click="sort('UnitPrice')"> Price</a></th>
              <th><a class="test"  href="" ng-click="sort('Quantity')"> Quantity</a></th>
              <th><a class="test" href="" ng-click="sort('Total')"> Total</a></th>
              <th class="test" > Action</th>
              <!--<th>&nbsp;</th>-->
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="order in orders |orderBy :predicate:reverse" class="repeat-animation">
              <td>{{order.OrderName}}</td>
              <td>{{order.ProductName}}</td>
              <td>{{order.ContactName}}</td>
              <td>{{order.DateOfSale |date: 'dd-MM-yyyy'}}</td>
              <td>{{order.UnitPrice}}</td>
              <td>{{order.Quantity}}</td>
              <td>{{order.UnitPrice * order.Quantity}}</td>
              <td><a  ng-href="#/orderEdit/{{order.CustomerID}}/{{order.ProductID}}/{{order.OrderID}}" ng-model ="order.OrderID" >Edit</a></td>
            </tr>
            <tr>
              <td colspan="6">
                &nbsp;
              </td>
              <!--<td></td><td></td><td></td><td></td><td></td><td></td>-->
              <td width="150">
                <d-expand-collapse>
                  <div><span class="faqPlus"></span><a href="javascript:void(0)" class="question ui-link"><strong>{{ordersTotal}}</strong></a></div>
                  <div class="answer">
                    {{totals()}}
                      <!--Author: {{(ordersTotal*70)/100}};</br>
                      Worker: {{(ordersTotal*30)/100}};-->
                    </div>
                  </div>
                </d-expand-collapse>
              </td>
              <td></td>
            </tr>
            </tbody>

          </table>
         <!-- <pagination total-items="filteredCountOrders" ng-model="currentPage"
                      max-size="5" boundary-links="true"
                      items-per-page="numPerPage" class="pagination-sm">
          </pagination>-->
        </div>
      </div>

    </div>
  </div>
</div>
