
<!--

http://plnkr.co/edit/tw0hLz68O8ueWj7uZ78c?p=preview
http://jsfiddle.net/jaredwilli/vUSPu/
http://plnkr.co/edit/ybYmHtFavHnN1oD8vsuw?p=preview
close when click somewhere around
open the control over the the existing
-->


<!--

<div class="multiselect">
  <button class="btn" ng-click="toggleSelect()">
    <span class="pull-left">Select 1</span>&nbsp;<span class="caret pull-right"></span>
  </button>
  <div class="multiselect-wrapper" ng-show="isVisible">
    <input type="text"  ng-model="searchText" autofocus="autofocus" />
    <ul>
      <li ng-repeat="option in options">
        <label class="checkbox"><input type="checkbox" ng-click="toggleChaeck(option.id)" ng-checked="isChecked(option.id)" />{{option.name}}</label>
      </li>
    </ul>
  </div>

</div>
<br/>

<div class='btn-group' data-ng-class='{open: open}'>
  <button class='btn btn-small'>Select 2</button>
  <button class='btn btn-small dropdown-toggle' data-ng-click='open=!open;openDropdown()'><span class='caret'></span></button>
  <ul class='dropdown-menu' aria-labelledby='dropdownMenu'>
    <li><a data-ng-click='selectAll()'><i class='icon-ok-sign'></i>  Check All</a></li>
    <li><a data-ng-click='deselectAll();'><i class='icon-remove-sign'></i>  Uncheck All</a></li>
    <li class='divider'></li>"
    <li data-ng-repeat='option in options'> <a data-ng-click='setSelectedItem()'>{{option.name}}<span data-ng-class='isChecked(option.id)'></span></a></li>

  </ul>
</div>
<br/>-->

<div data-ng-class ='{open: open}' >
  <button   data-ng-click="open =!open; toggleSelect()">
 <!-- <span class="pull-left">Select </span>&nbsp;<span class="caret pull-right"></span>-->
    <span class="pull-left" >Select Authors... </span>
    &nbsp;
    <span class='caret -pull-right'></span>
  </button>

  <!--<div class="multiselect-wrapper" ng-show="isVisible">-->
  <ul  class='dropdown-menu' aria-labelledby='dropdownMenu' ng-show="isVisible">
    <li><input type="text"  ng-model="search" autofocus="autofocus"/></li>
    <li><a data-ng-click='selectAll()'><i class='glyphicon glyphicon-ok'></i>  Check All</a></li>
    <li><a data-ng-click='deselectAll();'><i class='glyphicon glyphicon-remove'></i>  Uncheck All</a></li>
    <li class='divider'></li>
   <!-- <li data-ng-repeat='option in options'> <a data-ng-click='setSelectedItem()'>{{option.name}}<span data-ng-class='isChecked(option.id)'></span></a></li>-->
    <li ng-repeat="option in options | filter : search">
      <label class="checkbox"><input type="checkbox" ng-click="toggleChaeck(option.CustomerID)" ng-checked="isChecked(option.CustomerID)" />{{option.ContactName}}</label>
    </li>
  </ul>
</div>


